body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eddde9;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
  margin : 20px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ed6969;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #959eee;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f9f09f;
}
#userForm {
  text-align: center;
  background-color: rgb(163, 244, 244);
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}